.sass-cache
.jekyll-metadata
dist/404.html
dist/CNAME
dist/feed.xml
dist/gnargnardave.iml
dist/hacks.html
dist/index.html
dist/robots.txt
dist/sitemap.xml
dist/about/index.html
dist/contact-us/index.html
dist/css/main.css
dist/dad-life/index.html
dist/dad/2017/09/07/gatorland-zipline.html
dist/dad/2017/10/17/chipmunk-challenge.html
dist/dad/2018/03/21/kid-activities.html
dist/dad/2018/09/16/pancake-chef.html
dist/dad/2020/05/15/star-wars.html
dist/dad/snow/2017/09/07/toddler-snowboarding.html
dist/img/frontier_macsj0717.jpg
dist/img/logo.png
dist/img/stsci-h-p1930a-f-3213x2836.jpg
dist/img/yeti.jpg
dist/img/recipe/IMG_20191116_181532.jpg
dist/js/core.js
dist/js/fullPage.js
dist/recipes/index.html
dist/recipes/2020/02/10/soy-garlic.html
gnargnardave.iml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
