
# Site settings
title: Shred The Gnar Gnar
email: dave@shredthegnargnar.com
description: SITEWEB GREATEST EVER

source: ./_site/
destination: /_output/

# timezone: America/New_York
profile: true
baseurl: "" 
url: "http://gnargnardave.github.io/STGG" # the base hostname & protocol for your site

# Build settings
markdown: kramdown

kramdown:
  input: GFM

gems:
  - jekyll-sitemap
  - jekyll-seo-tag

