.default-tpl {

	.mdl-layout__header {
		background-color: $grey;

		.mdl-layout-title {
			h4 {
				margin: 0;
				display: inline-block;
			}

			.title-logo {
				display: inline-block;
				margin-right: 10px;
				width: 30px;
			}
		}
	}

	header {
		.material-icons {
			line-height: 2em;
		}
	}

	.page-content {
		padding: 15px;
	}
}

// NAV
.nav-row {
	padding: 0 10% 0 10%;
}