
<div class="blog-cpt">
	<div class="mdl-card mdl-cell mdl-cell--12-col">

		{% for items in site.categories[page.type] %}

		<div class="blog-card-wide mdl-card mdl-shadow--2dp">
			<div class="mdl-card__title"
			     style="background-image: url({{ items.img }});">
				<h2 class="mdl-card__title-text">{{items.title}}</h2>
				<!--<div>{{ items.date | date:"%-m.%d.%Y" }}</div>-->
			</div>
			<div class="mdl-card__supporting-text">
				{{ items.content | strip_html | truncatewords: 10}}
				<div class="author">By {{ items.author }}</div>
				<div class="date">{{ items.date | date:"%-m.%d.%Y" }}</div>
			</div>
			<div class="mdl-card__actions mdl-card--border">
				<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
				   href="{{items.url}}">
					Read
				</a>
			</div>
			<!--<div class="mdl-card__menu">
				<button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
					<i class="material-icons">share</i>
				</button>
			</div>!-->
		</div>

		{% endfor %}

	</div>
</div>